<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tambah Hewan</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Tambah Data Hewan</h1>
    <form action="/tambah" method="POST">
        <label>Nama Hewan:</label><br>
        <input type="text" name="name" placeholder="Nama Hewan" required><br>
        <label>Spesies:</label><br>
        <input type="text" name="species" placeholder="Spesies" required><br><br>
        <button type="submit">Simpan</button>
    </form>
</body>
</html>
